<!DOCTYPE html>
<html>
<head>
<title>Notifications Log</title>
<link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/notific_log.css">

<style>
    html,body {
  height: 100%;
}
* {
  text-align: center;
  font-family: 'Unica One', cursive;
}

    [class*="col-"]{
        height: 100%;
    }
    .list-group{
        margin: 10px;
    }
    .container{
        width: 100%;
        height: 100%;
    }
    #con{
        height: 100%;
    }
    #outer{
        min-height:100%;
}
a {
  float: left;
}
.h1{
    font-family: 'Unica One', cursive;
}
#header{
    margin: 10pt;
}
</style>

</head>

<body>
    <div class = "row" id = "header">
  <div><a href = "/"><button style="font-size: xx-large;">Home</button></a> </div>
  <div><h1 style="font-family: 'Unica One', cursive">Cooling History</h1> </div>
    </div>
  
  <div class="container">
        
        <div class="row" id = "con">
          <div class="col-sm-4" style="background-color:#B8B8FF; align-items: flex-end;">
            <a href="/buddies"><img src="https://i.imgur.com/jbeJz1g.png" title="source: imgur.com" width="100%"/></a>
          </div>
          <div class="col-sm-8" style="background-color:#FFA69E;">
            <div class="list-group" style="display: flex; flex-direction: column;">
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">From Gurleen</h4>
                  <p class="list-group-item-text">I hope you take some time to go on a walk today! ou have worked so hard and you deserve a break!</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">From You</h4>
                  <p class="list-group-item-text">Step away and get some water! Being Hydrated is half the battle and I know you can do it!</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">From Burnout Burnout</h4>
                  <p class="list-group-item-text">Stretch a little to burnout some calories!</p>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <div id="e21_16">
    <div id="e25_4"></div>
    <div id="e25_3"></div>
    <div id="e25_10"></div>
    <div id="e25_14"></div>
    <div id="e25_17"></div><span id="e25_18">Notification Text</span>
    <div id="e25_13"></div>
  </div> -->
</body>
</html>