#e19_15 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1440px;
	height:900px;
	position:absolute;
}
#e21_55 { 
	color:rgba(79.00000289082527, 79.00000289082527, 79.00000289082527, 1);
	opacity:1;
	width:555px;
	height:84px;
	position:absolute;
	left:397px;
	top:31px;
	font-family:Roboto;
	text-align:left;
	font-size:72px;
	letter-spacing:-1.5;
	line-height:undefined;
}
#e21_56 { 
	background-color:rgba(108.00000876188278, 207.00003325939178, 246.0000005364418, 0.6000000238418579);
	opacity:1;
	width:195px;
	height:190px;
	position:absolute;
	left:74px;
	top:285px;
}
#e21_57 { 
	background-color:rgba(108.00000876188278, 207.00003325939178, 246.0000005364418, 0.6000000238418579);
	opacity:1;
	width:195px;
	height:190px;
	position:absolute;
	left:342px;
	top:285px;
}
#e21_58 { 
	background-color:rgba(108.00000876188278, 207.00003325939178, 246.0000005364418, 0.6000000238418579);
	opacity:1;
	width:195px;
	height:190px;
	position:absolute;
	left:622px;
	top:285px;
}
#e21_59 { 
	background-color:rgba(108.00000876188278, 207.00003325939178, 246.0000005364418, 0.6000000238418579);
	opacity:1;
	width:195px;
	height:190px;
	position:absolute;
	left:902px;
	top:285px;
}
#e21_60 { 
	background-color:rgba(108.00000876188278, 207.00003325939178, 246.0000005364418, 0.6000000238418579);
	opacity:1;
	width:195px;
	height:190px;
	position:absolute;
	left:1182px;
	top:285px;
}
#e21_61 { 
	color:rgba(79.00000289082527, 79.00000289082527, 79.00000289082527, 1);
	opacity:1;
	width:735px;
	height:56px;
	position:absolute;
	left:75px;
	top:582px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
	line-height:undefined;
}
#e21_67 { 
	color:rgba(47.0000009983778, 128.0000075697899, 237.0000010728836, 1);
	opacity:1;
	width:172px;
	height:42px;
	position:absolute;
	left:816px;
	top:691px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.5;
	line-height:undefined;
}
#e21_68 { 
	color:rgba(45.00000111758709, 156.00000590085983, 219.0000021457672, 1);
	opacity:1;
	width:203px;
	height:42px;
	position:absolute;
	left:406px;
	top:691px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.5;
	line-height:undefined;
}
#e21_62 { 
	color:rgba(86.00000247359276, 204.00000303983688, 242.00000077486038, 1);
	opacity:1;
	width:139px;
	height:42px;
	position:absolute;
	left:74px;
	top:691px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.5;
	line-height:undefined;
}
#e21_63 { 
	color:rgba(86.00000247359276, 204.00000303983688, 242.00000077486038, 1);
	opacity:1;
	width:131px;
	height:42px;
	position:absolute;
	left:669px;
	top:799px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.5;
	line-height:undefined;
}
#e21_64 { 
	color:rgba(47.0000009983778, 128.0000075697899, 237.0000010728836, 1);
	opacity:1;
	width:264px;
	height:42px;
	position:absolute;
	left:1016px;
	top:799px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.5;
	line-height:undefined;
}
#e21_65 { 
	color:rgba(47.0000009983778, 128.0000075697899, 237.0000010728836, 1);
	opacity:1;
	width:200px;
	height:42px;
	position:absolute;
	left:206px;
	top:799px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.5;
	line-height:undefined;
}
#e21_66 { 
	color:rgba(86.00000247359276, 204.00000303983688, 242.00000077486038, 1);
	opacity:1;
	width:253px;
	height:42px;
	position:absolute;
	left:1124px;
	top:691px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.5;
	line-height:undefined;
}
#e21_72 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:186px;
	height:42px;
	position:absolute;
	left:79px;
	top:359px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.5;
	line-height:undefined;
}
#e21_73 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:80px;
	height:42px;
	position:absolute;
	left:400px;
	top:359px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.5;
	line-height:undefined;
}
#e21_74 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:163px;
	height:84px;
	position:absolute;
	left:638px;
	top:337px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:-1.5;
	line-height:undefined;
}
#e21_75 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:124px;
	height:42px;
	position:absolute;
	left:938px;
	top:358px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.5;
	line-height:undefined;
}
#e21_76 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:180px;
	height:42px;
	position:absolute;
	left:1190px;
	top:359px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:-1.5;
	line-height:undefined;
}