[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

/* #e21_16 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:1440px;
	height:900px;
	position:absolute;
}
#e25_4 { 
	background-color:rgba(184.00000423192978, 184.00000423192978, 255, 1);
	opacity:1;
	width:48px;
	height:53px;
	position:absolute;
	left:109px;
	top:27px;
}
#e25_3 { 
	background-color:rgba(255, 166.00000530481339, 158.00000578165054, 1);
	opacity:1;
	width:44px;
	height:49px;
	position:absolute;
	left:31px;
	top:29px;
}
#e25_10 { 
	background-color:rgba(203.00000309944153, 228.0000016093254, 191.00000381469727, 1);
	opacity:1;
	width:139px;
	height:302.5px;
	position:absolute;
	left:63px;
	top:299px;
}
#e25_14 { 
	background-color:rgba(255, 166.00000530481339, 158.00000578165054, 1);
	opacity:1;
	width:307px;
	height:239.11703491210938px;
	position:absolute;
	left:413px;
	top:410px;
}
#e25_17 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:459px;
	height:179px;
	position:absolute;
	left:673px;
	top:210px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
#e25_18 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:300px;
	height:76px;
	position:absolute;
	left:766px;
	top:255px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#e25_13 { 
	transform: rotate(179.7589168693139deg);
	background-color:rgba(203.00000309944153, 228.0000016093254, 191.00000381469727, 1);
	opacity:1;
	width:139px;
	height:302.5px;
	position:absolute;
	left:1340.2716064453125px;
	top:600.497314453125px;
} */