<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/buddies.css">
</head>

<body>
    <div id="e20_3">
    <div id="e27_4"></div>
    <div id="e20_7"></div>
    <div id="e20_9"></div>
    <div id="e20_10"></div>
    <div id="e20_11"></div>
    <div id="e20_8"></div><span id="e20_23">Bhuvni</span><span id="e20_24">Gurleen</span><span id="e20_31">Buddies</span>
  </div>
</body>
</html>