<!DOCTYPE html>
<html>
<head>
<title>Burnout Burnout</title>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/check_in.css">
</head>

<body>
    <div id="e19_15"><span id="e21_55">How am I feeling?</span>
    <div id="e21_56"></div>
    <div id="e21_57"></div>
    <div id="e21_58"></div>
    <div id="e21_59"></div>
    <div id="e21_60"></div>
    <span id="e21_61">Small steps I can take to feel better:</span>
    <span id="e21_67">Refill water</span><span id="e21_68">Grab a snack</span>
    <span id="e21_62">Meditate</span><span id="e21_63">Exercise</span>
    <span id="e21_64">Talk with a friend</span><span id="e21_65">Walk outside</span>
    <span id="e21_66">Turn off screens</span><span id="e21_72">Overworked</span>
    <span id="e21_73">Tired</span><span id="e21_74">In need of a break</span>
    <span id="e21_75">Content</span><span id="e21_76">Pretty great</span>
    </div>
   <span id="e21_73">Tired</span><span id="e21_74">In need of a break</span>
    <span id="e21_75">Content</span><span id="e21_76">Pretty great</span>
    </div>
  <span id="e21_73">Tired</span><span id="e21_74">In need of a break</span>
    <span id="e21_75">Content</span><span id="e21_76">Pretty great</span>
    </div>
   <span id="e21_73">Tired</span><span id="e21_74">In need of a break</span>
    <span id="e21_75">Content</span><span id="e21_76">Pretty great</span>
    </div>
 <span id="e21_73">Tired</span><span id="e21_74">In need of a break</span>
    <span id="e21_75">Content</span><span id="e21_76">Pretty great</span>
    </div>
<span id="e21_73">Tired</span><span id="e21_74">In need of a break</span>
    <span id="e21_75">Content</span><span id="e21_76">Pretty great</span>
    </div>
</body>
</html>